<!DOCTYPE html>
<html lang="ko" xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/board_scripts.js"></script>
    <title>board</title>
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<form method="post" action="/boardWrite">
    <div class="container">
        <h2>게시글 목록</h2>
        <table class="table table-bordered">
            <colgroup>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
                <col width="*"/>
            </colgroup>
            <thead class="thead-dark">
            <tr>
                <th scope="col">순번</th>
                <th scope="col">취미</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">좋와요</th>
                <th scope="col">지역</th>
            </tr>
            </thead>
            <tbody>
            <tr class="view" th:if="${#lists.size(list)} > 0" th:each="list : ${list}"
                onmouseover="this.style.background='#F5F5F5'" onmouseout="this.style.background='white'"
                th:onclick="|location.href='@{/boardRead/{boardNo}(boardNo=${list.boardNo})}'|">
                <td th:text="${list.boardNo}">순번</td>
                <td th:text="${list.boardInterest}">취미</td>
                <td th:text="${list.boardTitle}">제목</td>
                <td th:text="${list.boardContent}">내용</td>
                <td th:text="${list.boardName}">작성자</td>
                <td th:text="${list.boardDate}">작성일</td>
                <td th:text="${list.boardChk}">조회수</td>
                <td th:text="${list.boardLike}">좋와요</td>
                <td th:text="${list.boardRegion}">지역</td>
            </tr>
            <tr th:unless="${#lists.size(list)} > 0">
                <td colspan="4">조회된 결과가 없습니다.</td>
            </tr>
            </tbody>
        </table>
        <button type="buttonlist" onclick="location.href='./boardWrite'">글쓰기</button>
    </div>
</form>
<div class="text-center">
    <!-- 이전 버튼 -->
    <th:block th:if="${pageMaker.prev}">
        <li class="pageMaker_btn prev">
            <a href="javascript:void(0)" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${pageMaker.CriteriaVo.makeQueryString(pageMaker.pageStart - 1)} ]])">이전</a>
        </li>
    </th:block>

    <!-- 페이지 번호 -->
    <th:block th:with="pageMaker = ${pageMaker}">
        <th:block th:each="num : *{#numbers.sequence(pageMaker.pageStart, pageMaker.pageEnd)}">
            <li class="pageMaker_btn" th:classappend="${pageMaker.CriteriaVo.pageNum == num} ? 'active' : ''">
                <a href="javascript:void(0)" th:text="${num}" th:onclick="movePage([[ ${#request.requestURI} ]],[[ ${pageMaker.CriteriaVo.makeQueryString(num)} ]])"></a>
            </li>
        </th:block>
    </th:block>


    <!-- 다음 버튼 -->
    <th:block th:if="${pageMaker.next}">
        <li class="pageMaker_btn next">
            <a href="javascript:void(0)" th:onclick="movePage( [[ ${#request.requestURI} ]], [[ ${pageMaker.CriteriaVo.makeQueryString(pageMaker.pageEnd + 1)} ]])">다음</a>
        </li>
    </th:block>
</div>
<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="small" href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/bootstrap/js/scripts.js"></script>
</body>
</html>